extends layout
block content
  div.container.d-grid.my-5
    h3.alert.alert-secondary.text-center.py-5(role='alert')
      | 🎉 
      br
      | #{message}
    a.btn.btn-primary.text-light(type='button',href='/')
        | Back to Home

